/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #92bbd1; /* Updated background color */
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Form Container */
form {
    display: inline-block;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input Box */
input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
}

/* Buttons */
button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

/* Error Messages */
.error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

/* Center Content */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #43658b;
    color: white;
    text-align: center;
  }
